html, body, .vcent
	height: 100%

body
	margin: 0
	font-family: 'Roboto', sans-serif
	text-align: center
	color: #f3c
	background-color: #73a

.vcent, .messageContainer
	display: inline-block
	vertical-align: middle

.messageContainer
	width: 480px
	text-transform: uppercase
