html, body, .vcent
	height: 100%

body, input[type="text"], button
	margin: 0
	font-family: 'Roboto', sans-serif
	text-align: center
	text-transform: uppercase

body, input
	color: #f3c
	background: #73a

.vcent, .centerContainer
	display: inline-block
	vertical-align: middle

.centerContainer
	width: 480px

input[type="text"], button
	display: inline-block
	vertical-align: middle
	height: 96px
	line-height: 96px
	border: 0 solid #f3c
	outline: 0

input[type="text"]
	width: 80%
	box-sizing: border-box
	border-bottom-width: 6px
	font-size: 60px

button
	width: 20%
	font-size: 24px
	color: #73a
	background: #f3c
	cursor: pointer
