html
	head
		title!= message
		link(href='main.css' rel='stylesheet' )
		link(href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css')
	body
		.vcent
		.messageContainer
			.ushld You should
			.message!= message
		script(src='main.js')
